In [59]:
import pandas as pd
import numpy as np
import numpy.random as npr
import random
import sys
import math

from pandas import Series, DataFrame
from sklearn.metrics import mean_absolute_error
from scipy.spatial import KDTree
from sklearn.model_selection import train_test_split

In [2]:
sys.setrecursionlimit(10000)

In [50]:
address = 'C:/Users/yayun/Projects/ML Study/Exercise Files/Data/king_county_data_geocoded.csv'
king_county_df = pd.read_csv(address, nrows = 100)
king_county_df.head()

,AppraisedValue,SqFtLot,WaterSystem,SewerSystem,Access,Topography,StreetSurface,RestrictiveSzShape,InadequateParking,PcntUnusable,...,NativeGrowthProtEsmt,Easements,OtherDesignation,DeedRestrictions,DevelopmentRightsPurch,WaterProblems,TranspConcurrency,OtherProblems,lat,long
0,619000.0,6542712,1,1,4,0,1,0,0,0,...,0,0,0,0,1,0,0,0,47.354019,-122.225166
1,708000.0,105850,2,1,3,0,2,0,0,0,...,0,0,0,0,0,0,0,0,47.611248,-122.053154
2,297000.0,1667,2,2,4,0,1,0,2,0,...,0,0,0,0,0,0,0,0,47.701248,-122.365784
3,523000.0,1872,2,2,4,0,1,0,2,0,...,0,0,0,0,0,0,0,0,47.537918,-122.392845
4,288000.0,3480,2,2,4,0,1,0,0,0,...,0,0,0,0,0,0,0,0,47.510227,-122.182167

In [54]:
king_county_values_df = king_county_df[['AppraisedValue', 'lat', 'long', 'SqFtLot']]

king_county_appraisedValue_df = king_county_values_df['AppraisedValue']
king_county_other_df = king_county_values_df.drop('AppraisedValue', axis = 1)
print(king_county_other_df.describe())
king_county_other_df = (king_county_other_df - king_county_other_df.mean()) / (king_county_other_df.max() - king_county_other_df.min())

king_county_values_df = pd.concat([king_county_appraisedValue_df, king_county_other_df], axis = 1, verify_integrity = True)
king_county_values_df.head()

              lat        long       SqFtLot
count  100.000000  100.000000  1.000000e+02
mean    47.558071 -121.986926  9.091321e+04
std      0.263416    2.839007  6.567574e+05
min     45.293430 -122.410454  1.017000e+03
25%     47.502974 -122.341553  5.000000e+03
50%     47.585539 -122.291794  7.032500e+03
75%     47.689556 -122.217039  1.140000e+04
max     47.774014  -93.906406  6.542712e+06

   AppraisedValue       lat      long   SqFtLot
0        619000.0 -0.082260 -0.008358  0.986258
1        708000.0  0.021437 -0.002323  0.002283
2        297000.0  0.057719 -0.013291 -0.013643
3        523000.0 -0.008124 -0.014241 -0.013611
4        288000.0 -0.019287 -0.006850 -0.013366

In [55]:
X_train, X_test, y_train, y_test = train_test_split(king_county_values_df.drop('AppraisedValue', axis = 1), king_county_values_df['AppraisedValue'], test_size = 0.2, random_state = 200)
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(80, 3) (20, 3)
(80,) (20,)

In [68]:
kdtree = KDTree(X_train)

for idx, row in X_test.iterrows():
    distances, indexes = kdtree.query(row, 6)
    predict = np.mean(king_county_appraisedValue_df.iloc[indexes])
    actual = king_county_appraisedValue_df.loc[idx]
    print('predict: %f, actual: %f, loss: %f' % (predict, actual, abs(actual - predict)))

predict: 423833.333333, actual: 424000.000000, loss: 166.666667
predict: 457833.333333, actual: 297000.000000, loss: 160833.333333
predict: 570500.000000, actual: 481000.000000, loss: 89500.000000
predict: 328833.333333, actual: 500000.000000, loss: 171166.666667
predict: 380166.666667, actual: 446000.000000, loss: 65833.333333
predict: 459250.000000, actual: 166000.000000, loss: 293250.000000
predict: 404333.333333, actual: 556000.000000, loss: 151666.666667
predict: 397500.000000, actual: 681000.000000, loss: 283500.000000
predict: 392833.333333, actual: 358000.000000, loss: 34833.333333
predict: 347666.666667, actual: 334000.000000, loss: 13666.666667
predict: 453333.333333, actual: 191000.000000, loss: 262333.333333
predict: 453333.333333, actual: 387000.000000, loss: 66333.333333
predict: 393166.666667, actual: 277000.000000, loss: 116166.666667
predict: 367000.000000, actual: 481000.000000, loss: 114000.000000
predict: 352000.000000, actual: 154000.000000, loss: 198000.000000
predict: 404666.666667, actual: 543000.000000, loss: 138333.333333
predict: 423833.333333, actual: 489000.000000, loss: 65166.666667
predict: 352333.333333, actual: 653000.000000, loss: 300666.666667
predict: 408333.333333, actual: 234000.000000, loss: 174333.333333
predict: 453333.333333, actual: 218000.000000, loss: 235333.333333